<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @menu.desc %>
</p>

<p>
  <strong>Body;text:</strong>
  <%= @menu.body;text %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
