
<!--chart section start -->
<div class="ed_transprentbg ed_toppadder100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_counter_wrapper">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_chart_ratio">
							<i class="fa fa-bus" aria-hidden="true"></i>
							<h4>Air Ride Blanket Wrap Trucking</h4>
							<p>When your shipping project requires the smoothest ride and most careful handling possible, our White Glove Logistics Division will provide you with fast and affordable blanket wrap shipping.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_chart_ratio">
							<i class="fa fa-plane" aria-hidden="true"></i>
							<h4>International shipping services </h4>
							<p>international shipping services will help you take the "work" out of paperwork. As an IATA (International Air Transport Association) endorsed agent, we have the experience to walk you through the intricacies of rates, tariffs, duties, taxes and other important international commerce concerns. We make it easy to ship so you can spend your time on your business.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="ed_chart_ratio">
							<i class="fa fa-ship" aria-hidden="true"></i>
							<h4>Emergency/Expedited Shipping</h4>
							<p>When you find yourself in a situation that requires emergency or expedited shipping, there's very little time to plan. We are ther for you When we hear the word "emergency," we understand that there's no room for error..</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- chart Section end -->
<!-- Services start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50">
					<h3>our best services</h3>
				</div>
			</div>
			<div class="ed_mostrecomeded_course_slider">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "ba1.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="#">door-to-door delivery</a></h4>
<p>We provide fast and reliable delivery service and goods given to you personally at ypur convience </p>						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "slider/s2.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><%= link_to new_user_registration_path do %>Packaging and Crating<%end%></h4>
							<p>one-stop source for expert packaging, crating and shipment preparation.  </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "slider/s3.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><%= link_to new_user_registration_path do %>White Glove Services<%end%></h4>
							<p>White glove service is at the very core of what we do. It ensures that your specific and detailed delivery requirements are met in a timely manner.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">



					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "a29.jpg", class: "img-responsive" %>

						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><%= link_to new_user_registration_path do %>LTL/Ground Freight<%end%></h4>
							<p>you get more than 30 years of freight shipping expertise. We use data from thousand. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "unsplash3.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4>							<h4><%= link_to new_user_registration_path do %>Air Ride Blanket Wrap Trucking<%end%></h4>
</h4>
<p>When your shipping project requires the smoothest ride and most careful handling possible.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_mostrecomeded_course">
						<div class="ed_item_img">
							<%= image_tag "delivery3.jpg", class: "img-responsive" %>
						</div>
						<div class="ed_item_description ed_most_recomended_data">
							<h4><a href="#">Logistic</a></h4>
							<p>When you find yourself in a situation that requires emergency or expedited shipping, .</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ed_toppadder30">
					<%= link_to new_user_registration_path, class: "btn ed_btn ed_orange" do%> Send A Package Now <%  end %>
				</div>
			</div>
		</div>
	</div><!-- /.container -->
</div>
<!-- Services end -->
<!--Timer Section three start -->
<div class="ed_timer_section ed_toppadder90 ed_bottompadder60">
	<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50">
					<h3>Why Choose Us</h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_counter_wrapper">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="200" data-speed="5000"></h2>
							<h4>Offices Worldwide</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="800" data-speed="5000"></h2>
							<h4>Hardworking People</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="60" data-speed="5000"></h2>
							<h4>Countries Covered</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="ed_counter">
							<h2 class="timer" data-from="0" data-to="12" data-speed="5000"></h2>
							<h4>Years of Experiences</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Timer Section three end -->
