


        <li>
          <div class="timeline-badge"><i class="fas fa-shipping-fast"></i></div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title"><%= location.departdate %></h5>
              <p><small class="text-muted"><i class="far fa-clock"></i> </small><%=  @location.departtime %></p>
            </div>
            <div class="panel-body">
              <p> <%= location.location %></p>
              <p>  <%= location.status %>.</p>
              <p><small class="text-muted"><i class="far fa-clock"></i> </small><%=  @location.arrivaltime_time %></p>
            </div>
          </div>
        </li>


                <li>
                  <div class="timeline-badge"><i class="fas fa-shipping-fast"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h5 class="timeline-title"><%= location.date %></h5>
                      <p><small class="text-muted"><i class="far fa-clock"></i> </small><%=  @location.d_time %></p>
                    </div>
                    <div class="timeline-body">
                      <p> <%= location.location %></p>
                      <p>  <%= location.status %>.</p>
                      <p><small class="text-muted"><i class="far fa-clock"></i> </small><%=  @location.d_time %></p>
                    </div>
                  </div>
                </li>
                
