<!DOCTYPE html>
<html>
<head>
  <title>Online Access </title>
  <%= csrf_meta_tags %>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description"  content=" "/>

  <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'accounts', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%  @welcomes = Welcome.all  %>

  <% unless flash.empty? %>
 <script type="text/javascript">
     <% flash.each do |f| %>
     <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
     <% end %>
 </script>
<% end %>

    <div class="content ml-md-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 push-2 ">
            <div class="pt-md-5 pb-md-5 mt-md-5 mb-md-4">
              <br><br><br>
              <br><br><br>

            </div>
    <%= yield %>
    </div>
    </div>
    </div>
    </div>


</body>
</html>
